<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | Blog</title>
</head>
<body>
    <h2>Edit Blog</h2>

    <div>
        <p>From : <%= blog.from %></p>
        <form method="POST" action="/<%=blog._id%>?_method=PUT">
            <textarea name="message" cols="30" rows="10"><%=blog.message%></textarea><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>