<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newBlog</title>
</head>
<body>
    <h2>Create New Blog</h2>
    <form method="post" action="/newBlog">
        <input type="text" name="from" placeholder="Write your name..."><br><br>
        <textarea name="message" cols="30" rows="10">Write your message here...</textarea><br><br>
        <button>Post</button>
    </form>
</body>
</html>